@charset "UTF-8";

html 
	font-size: 100%;
	color: #333;
	font-size: 0.75rem;
	font-family: "Raleway", sans-serif


img 
	max-width: 100%;


li
	list-style :none

.content
	max-width :900px
	margin: 0 auto

	&__header
		max-width: 1000px
		margin: 0 auto
		border-bottom: solid 1px #c3c3c3


	&__footer
		position: sticky
		top: 100vh;
		width: 100%;


.header
	display: flex
	flex-direction: column

	&__title-wrapper
		padding: 20px 0
		display: flex
		justify-content: center

	&__nav-wrapper
		padding:20px
		display: flex
		align-items: center
		justify-content: space-between


.site-title
	text-align: center
	text-decoration: none

	&__text
		font-size: 24px


	&__logo-img
		width: 80px
		height: 80px
		border-radius:50%

.page-nav
	display: flex;
	align-items: center;

	&__link
		font-size: 16px
		margin-right: 10px;

		& > a
			color: #333;
			text-decoration: none;

.login-nav
	display: flex;
	align-items: center;

	&__btn
		font-size: 16px
		margin-right: 10px;

		& a
			color: #333;
			text-decoration: none

.main
	border:2px dotted #333

	&__item-container
		border: 2px solid #ccc
		display: flex

		&--related
			@extend .main__item-container
			flex-direction: column
			padding: 10px

.item-img
	&__title
		text-align: center
		font-size: 18px

		&--related
			font-size: 10px

	&__img
		max-width: 400px;
		flex-shrink: 0;
		margin-right: 60px;

.item-info
	&__text-container
		padding: 10px
		background: gray

	&__table-container
		padding: 15px
		display: flex;
		align-content: center
		justify-content: center
		background: #111

	&__price-container
		padding: 10px 
		background: #ccc



.item-text
	&__catch-copy
		margin:8px 0
		text-align: start
		font-size: 16px

		&--related
			@extend .item-text__catch-copy
			margin: 4px 0
			font-size: 10px


	&__discription
		margin: 8px 0
		font-size: 12px

		&--related
			font-size: 8px

.item-price
	border: 2px solid #111
	display: flex
	align-items: center

	&__price
		font-size:16px

	&__point
		margin: 4px 0 0 10px
		font-size:12px
		color:red




.item-table
	color: white

	&--color
		background: #666
		// width:100px

	&--size
		background: #888
		// width:280px


	&__title
		padding: 8px
		// font-size: 16px
		text-align: center
		font-weight: bold

	&__table
		margin: 0 auto
		height: 160px
		& td,th
			padding: 5px

// item-list
.related-items
	&__title
		margin-left:10px 
		font-size:16px
	
	&__list-container
		display: flex

		&__item
			width: 120px
			padding: 8px

.footer
	background: #ccc
	border: 1px solid #444
	padding: 10px


	&__nav
		display: flex
		justify-content: center
		margin-bottom:10px 

	&__copyright
		font-size: 12px
		text-align: center

