global-li =
  padding: 4px 6px
  list-style: none
  cursor: pointer
  // background: #888
  background: #888
  border: 1px solid #888
  border-radius: 4px

  &:hover
    background: #555

global-a()
  color: #ccc
  text-decoration: none
