.footer
  padding: 10px
  background: #ccc
  border: 1px solid #444

  &__nav
    display: flex
    justify-content: center
    margin-bottom: 10px

  &__copyright
    font-size: 12px
    text-align: center
