.header
	display: flex
	flex-direction: column

	&__title-wrapper
		padding: 20px 0
		display: flex
		justify-content: center

	&__nav-wrapper
		padding:20px
		display: flex
		align-items: center
		justify-content: space-between