.item-table
  color: white

  &--color
    // width:100px
    background: #666

  &--size
    // width:280px
    background: #888

  &__title
    padding: 8px
    // font-size: 16px
    font-weight: bold
    text-align: center

  &__table
    height: 160px
    margin: 0 auto

    & td,th
      padding: 5px
