.item-info
  &__text-container
    padding: 10px
    background: gray

  &__table-container
    display: flex
    align-content: center
    justify-content: center
    padding: 15px
    background: #111

  &__price-container
    padding: 10px
    background: #ccc
