.item-text
	&__catch-copy
		margin:8px 0
		text-align: start
		font-size: 16px

		&--related
			@extend .item-text__catch-copy
			margin: 4px 0
			font-size: 10px


	&__discription
		margin: 8px 0
		font-size: 12px

		&--related
			font-size: 8px