.item-info
	&__text-container
		padding: 10px
		background: gray

	&__table-container
		padding: 15px
		display: flex;
		align-content: center
		justify-content: center
		background: #111

	&__price-container
		padding: 10px 
		background: #ccc