.item-table
	color: white

	&--color
		background: #666
		// width:100px

	&--size
		background: #888
		// width:280px


	&__title
		padding: 8px
		// font-size: 16px
		text-align: center
		font-weight: bold

	&__table
		margin: 0 auto
		height: 160px
		& td,th
			padding: 5px