.main
  border: 2px dotted #333

  &__item-container
    display: flex
    border: 2px solid #ccc

    &--related
      @extend .main__item-container

      flex-direction: column
      padding: 10px
