.nav-button
  padding: 4px 6px
  font-size: 16px
  color: #ccc
  text-decoration: none
  list-style: none
  cursor: pointer
  background: #888
  border: 1px solid #888
  border-radius: 4px

  &:hover
    background: #555
