.product-item
  display: flex
  flex-direction: column
  flex-shrink: 0
  align-items: center
  width: 104px

  &__title
    font-size: 10px

  &__catch-copy
    font-size: 10px

  &__discription
    font-size: 8px
